<footer class="footer footer-horizontal footer-center bg-base-200 text-base-content rounded p-10 max-w-4xl mx-auto">
  <nav class="flex flex-wrap justify-center gap-4 mb-4">
    {% for category in site.categories %}
      {% capture category_name %}{{ category | first }}{% endcapture %}
      <a href="/category/{{ category_name | slugify }}" class="link link-hover capitalize badge badge-soft badge-accent">
        {{ category_name }}
      </a>
    {% endfor %}
  </nav>
  <nav class="flex flex-wrap justify-center gap-4 mb-4">
  {% for author in site.data.authors %}
  {% if author.enabled %}
    <a class="hover:text-primary transition-colors pb-1 border-b-2 border-transparent hover:border-primary" 
       href="{{ author.url }}">{{ author.name }}</a>
  {% endif %}
  {% endfor %}
</nav>
  <aside>
    <p>Copyright © {{ "now" | date: "%Y" }} - All rights reserved by {{ site.title }}</p>
  </aside>
</footer>
