<!-- Pagination links -->
<div class="pagination hidden">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
<div class="join grid grid-cols-2">
  {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path }}" class="join-item btn btn-outline">Previous</a>{% else %}<button class="join-item btn btn-outline">Previous</button>{% endif %}
  <button class="join-item btn btn-outline">Page: {{ paginator.page }} of {{ paginator.total_pages }}</button>
  {% if paginator.next_page %}<a href="{{ paginator.next_page_path }}" class="join-item btn btn-outline">Next</a>{% else %}<button class="join-item btn btn-outline">Next</button>{% endif %}
</div>
