---
layout: default
---
    <nav aria-label="Breadcrumb">
      <ol role="list" class="mx-auto mb-5 flex max-w-2xl items-center space-x-2 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <li>
          <div class="flex items-center">
            <a href="{{ site.url }}" class="ml-0 mr-2 text-sm font-medium text-gray-900">Home</a>
            <svg viewBox="0 0 16 20" width="16" height="20" fill="currentColor" aria-hidden="true" class="h-5 w-4 text-gray-300">
              <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
            </svg>
          </div>
        </li>
        <li class="text-sm">
          <a href="#" aria-current="page" class="font-medium text-gray-500 hover:text-gray-600">{{ page.title }}</a>
        </li>
      </ol>
    </nav>

<h3>Posts in <b>{{ page.title }}</b></h3>
<ul>
  {% for post in site.categories[page.category] %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string }})
    </li>
  {% endfor %}
</ul>
