---
layout: default
---
{% if page.date %}
        <article class="lg:col-span-3">
            <header class="mb-12">
                <div class="flex items-center gap-4 mb-6">
                    <span class="text-sm font-mono opacity-50 uppercase">At {{ page.date | date: "%B %d, %Y" }} . Tagged with</span>
                </div>
                <h1 class="text-3xl md:text-4xl font-black leading-none tracking-tighter uppercase mb-10">
                   {{ page.title }}
                </h1>
            </header>

            <section class="prose-custom font-medium max-w-4xl">
                {% if page.author %}
                  <p class="mb-3"><b>{{ page.author }} :</b></p>
                {% endif %}
                {{ page.content }}
                 {% if page.source %}
   Source : <b>{{ page.source }}</b>
  {% else %}
 {% endif %} 
                     {% if page.link %}
   <a href="{{ page.link }}" target="_blank" rel="nofollow">Link <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
  {% else %}
 {% endif %}
            </section>

            <footer class="mt-20 pt-10 border-t-4 border-current hidden">
                <div class="flex flex-col md:flex-row justify-between items-center gap-8">
                    <a href="#" class="flex flex-col group">
                        <span class="text-xs opacity-50 font-bold uppercase mb-2">Previous Post</span>
                        <span class="text-xl font-black uppercase group-hover:italic transition-all">← Historical Consensus</span>
                    </a>
                    <div class="flex gap-4">
                        <button class="btn btn-circle border-2 border-current hover:bg-base-content hover:text-base-100">FB</button>
                        <button class="btn btn-circle border-2 border-current hover:bg-base-content hover:text-base-100">X</button>
                    </div>
                </div>
            </footer>
        </article>
{% endif %}
