---
layout: default
---
{% if page.date %}
<div class="breadcrumbs max-w-xs text-sm mb-5">
  <ul>
    <li><a href="{{ site.url }}">Home</a></li>
    <li>{{ page.title }}</li>
  </ul>
</div>
<div class="py-10 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    {% if page.author %}
     <b>{{ page.author }} :</b>
    {% endif %}
    {{ page.content }}

<div class="mt-5">
   {% if page.source %}
  <li class="list-group-item bg-transparent">
   Source : <b>{{ page.source }}</b>
  </li>
  {% else %}
 {% endif %} 
 {% if page.link %}
  <li class="list-group-item bg-transparent">
   <a href="{{ page.link }}" target="_blank" rel="nofollow">Source</a>
  </li>
  {% else %}
 {% endif %}
</div>
    
  </div>
</div>
{% endif %}
